
img {
  width: 100%;
}

.index {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}
.container_all {
  width: 100%;
}

.container {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  font-family: 'Nanum Myeongjo', serif;
}

.vote {
  width: 80%;
  margin: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vote_img {
}

.vote_content {
  text-align: center;
  margin: 1rem;
}

.vote_button {
  text-align: center;
  margin-bottom: 1rem;
}
